body {
  background-color:#2A1468;
}
.border-3 {
  border-width:3px !important;
}

#videoContainer {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.positionAbsolute {
  position: absolute!important;
  right: 4px;
}

canvas {
    position: absolute;
}

video {
    opacity: 1;
    object-fit: contain;
    /* max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto; */
}

.mtooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .mtooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .mtooltip:hover .tooltiptext {
    visibility: visible;
  }